* {
    background-color: pink;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.QR-box {
    background-color: rgb(249, 209, 216);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 5px white;
    max-width: 30%;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

p {
    background-color: rgb(249, 209, 216);
    display: block;
}