* {
    background-color: pink;
    margin: 0px;
    font-family: 'Ms Madi', cursive;
}

.container {
    display: flex;
    justify-content: center;
}

.QR-box {
    background-color: rgb(249, 209, 216);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 30%;
}

.QR-code {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 250px;
    /* border: solid 5px pink; */
}

p {
    background-color: rgb(249, 209, 216);
    display: block;
    font-size: 50px;
}